.Mui-expanded {
        margin: 0 !important;
}

.MuiPaper-root{
   .MuiAccordionDetails-root a{
    border-radius: 10px;
    padding: 0.5rem;
    float: right;
   }
   .MuiAccordionDetails-root a:hover{
    background: black;
    color: white;
    text-decoration: none;
   }
}