.projectsLine 
{
    background-color: black;
    max-width: 550px;
    height: 2px;
    margin-top: 5rem;
}
.projectsLine:last-child 
{
        // display:none;
}

// section{
//     min-height: 400px;
// }
