.more-info-button,
.backToHome{
    border: 2px solid black;
    border-radius: 10px;
    width: 85px;
    height: 30px;
    margin-top: 1rem;
    transition: 0.5s;
    float: right;
}

.more-info-button:hover,
.backToHome:hover{
    background: black;
    color: white;
    transform: scale(1.1)
}

.backToHome{
    float: unset;
    width: 150px;
    text-align: center;
    margin: 0 auto;
}