.hamburger-btn{
    border: none;
    background: none;
    margin-right: 1rem;

    .line {
        width: 40px;
        height: 5px;
        margin: 5px auto;
        background-color: black;
        display: block;
        transition: all 0.3s ease-in-out;
        border-radius: 5px;

        .show &:nth-child(2) {
            width: 0;
        }

        .show &:nth-child(1), .show &:nth-child(3) {
            transition-delay: 0.3s;
        }

        .show &:nth-child(1) {
            transform: translateY(10px);
        }

        .show &:nth-child(3) {
            transform: translateY(-10px) rotate(90deg);
        }

    }

    .show & {
        transition: all 0.3s ease-in-out;
        transition-delay: 0.6s;
        transform: rotate(45deg);
    }

    @media (min-width: 768px) {
        display: none;
    }
}
.mobile-nav{
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.5s ease, visibility 0s 0.5s;
    font-size: 1.3rem;
    position: fixed;
    bottom: 0rem;

    .show & {
        transition: height 0.5s ease, visibility 0s;
        visibility: visible;
        height: 60dvh;
    }

    ul{
    list-style:none;
    }
    li{
        margin-bottom: 1rem;
    }
    a{
        text-decoration: none;
        color: black;
    }
    a:visited {
        color: black;
    }

 @media (min-width: 768px) {
        // display: flex;
        // align-items: center;
        // background-color: transparent;
        // width: fit-content;
        // height: auto;
        // visibility: visible;
        // transition: none;
        // margin-right: 1rem;

        .show & {
            transition: none;
            height: auto;
        }

        ul {
            display: flex;
            gap: 2rem;
        }
        li {
            margin-bottom: 0rem;
        }
    }
}


