main {
    overflow: hidden;    
}
.reveal:nth-child(2n+1){
    position:relative;
    transform: translateX(70px);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;
    box-sizing: border-box;
}  
.reveal:nth-child(2n){
    position:relative;
    transform: translateX(-70px);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;
    box-sizing: border-box;
}   
.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}